{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<div class="card-header">
  <ul class="nav nav-pills card-header-pills">
    {% snippet "nav_item",
               url=url_for("groups.view_group", id=group.id),
               body="<strong>{}</strong>".format(_("Group")) %}

    {% if has_permission(current_user, "update", "group", group.id) %}
      {% snippet "nav_item",
                 url=url_for("groups.edit_group", id=group.id),
                 body='<i class="fas fa-pencil-alt"></i> {}'.format(_("Edit group")) %}
    {% endif %}

    {% if has_permission(current_user, "members", "group", group.id) %}
      {% snippet "nav_item",
                 url=url_for("groups.manage_members", id=group.id),
                 body='<i class="fas fa-users"></i> {}'.format(_("Manage members")) %}
    {% endif %}
  </ul>
</div>
