{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<p>
  {% if hasattr(resource, "visibility") %}
    <i class="fas {% if resource.visibility == 'public' %}fa-lock-open{% else %}fa-lock{% endif %} mr-1"></i>
  {% endif %}

  <span class="h5 font-weight-bold mr-2">{{ resource.title }}</span>

  {% if resource.__class__.__tablename__ == "record" and resource.type %}
    <a href="{{ url_for('records.records', type=resource.type) }}"
       class="badge badge-primary type-badge font-weight-normal">
      {{ resource.type }}
    </a>
  {% endif %}

  {% if resource.__class__.__tablename__ == "template" %}
    <span class="badge badge-primary type-badge font-weight-normal">{{ resource.type | capitalize }}</span>
  {% endif %}
</p>
<p>
  @{{ resource.identifier }}
  <br>
  <small class="text-muted">{% trans %}Persistent ID{% endtrans %}: {{ resource.id }}</small>
</p>
<br>
<div class="my-3">
  {% if resource.description %}
    <markdown-preview input="{{ resource.description }}"></markdown-preview>
  {% else %}
    <p>
      <em class="text-muted">{% trans %}No description.{% endtrans %}</em>
    </p>
  {% endif %}
</div>
<br>
<div class="d-md-flex justify-content-between align-items-end">
  <div class="mb-3 mb-md-0">
    {% trans %}Created by{% endtrans %} <identity-popover :user="{{ json_user(resource.creator) }}"></identity-popover>
  </div>
  <div>
    <small>
      {% trans %}Created at{% endtrans %} <local-timestamp timestamp="{{ resource.created_at }}"></local-timestamp>
      <span class="text-muted">
        (<from-now timestamp="{{ resource.created_at }}"></from-now>)
      </span>
    </small>
    <br>
    <small>
      {% trans %}Last modified at{% endtrans %}
      <local-timestamp timestamp="{{ resource.last_modified }}"></local-timestamp>
      <span class="text-muted">
        (<from-now timestamp="{{ resource.last_modified }}"></from-now>)
      </span>
    </small>
  </div>
</div>
