{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<h4 id="groups">Groups</h4>
<p>
  Groups can be used to group several users together, allowing for easier access management.
</p>
<h5 id="new-group">Creating a new group</h5>
<p>
  Creating a new group is again very similar to <a href="#new-record"><strong>creating a new record</strong></a> or
  <a href="#new-collection"><strong>creating a new collection</strong></a>. Aside from basic metadata, a group picture
  can also be uploaded, which will be shown on the group overview as well as on search result pages.
</p>
<h5 id="manage-group">Managing existing groups</h5>
<p>
  The management of existing groups is similar to
  <a href="#manage-record"><strong>managing existing records</strong></a> or
  <a href="#manage-collection"><strong>managing existing collections</strong></a> as well. The main difference is that
  instead of having a view for managing access permissions, there is a view for managing the members of the group:
</p>
<dl class="row">
  <dt class="col-md-2">Manage members</dt>
  <dd class="col-md-10">
    Managing the members of a group is comparable to managing the access permissions of records or collections, as group
    membership is linked to the access permissions of a group. Specifically, as long as a user has any role in a group,
    they are effectively a member of this group as well, while of course also having the respective permissions their
    role provides.
  </dd>
</dl>
