{# Copyright 2021 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "sysadmin/base.html" %}

{% block content %}
  <div class="card">
    {% include "sysadmin/snippets/menu.html" %}

    <div class="card-body">
      <div class="mb-2">
        <strong>{% trans %}Kadi4Mat version{% endtrans %}</strong>
      </div>
      <strong class="mr-3">
        <a href="https://kadi4mat.readthedocs.io/en/stable/HISTORY.html">v{{ current_version }}</a>
      </strong>
      <span class="text-muted">
        {% if latest_version is none %}
          <i class="fas fa-exclamation-triangle"></i>
          {% trans %}Could not retrieve latest version{% endtrans %}
        {% elif current_version == latest_version %}
          <i class="fas fa-check"></i>
          {% trans %}Latest version{% endtrans %}
        {% else %}
          <i class="fas fa-info-circle"></i>
          <a href="https://kadi4mat.readthedocs.io/en/stable/installation/production/updating.html" class="text-muted">
            <strong>{% trans version=latest_version%}Update to v{{ version }} available{% endtrans %}</strong>
          </a>
        {% endif %}
      </span>
      <hr>
      <div class="mb-2">
        <strong>{% trans %}Usage statistics{% endtrans %}</strong>
      </div>
      <ul class="list-group">
        {% snippet "stat", _module="sysadmin", title=_("Active users"), value=active_users %}
        {% snippet "stat", _module="sysadmin", title=_("Total number of records"), value=num_records %}
        {% snippet "stat", _module="sysadmin", title=_("Total number of record files"), value=num_files %}
        {% snippet "stat", _module="sysadmin", title=_("Total size of record files"), value=file_size | filesize %}
        {% snippet "stat", _module="sysadmin", title=_("Total number of collections"), value=num_collections %}
        {% snippet "stat", _module="sysadmin", title=_("Total number of groups"), value=num_groups %}
        {% snippet "stat", _module="sysadmin", title=_("Total number of templates"), value=num_templates %}
      </ul>
    </div>
  </div>
{% endblock %}
