{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<div class="float-md-right mb-3 mb-md-0 ml-0 ml-md-3">
  {% if template.type in ["record", "extras"] and has_permission(current_user, "create", "record", None) %}
    <a href="{{ url_for('records.new_record', template=template.id) }}" class="btn btn-sm btn-primary">
      {% trans %}Apply template{% endtrans %}
    </a>
  {% endif %}
  {% if has_permission(current_user, "create", "template", None) %}
    <a href="{{ url_for('templates.new_template', type=template.type, template=template.id) }}"
       class="btn btn-sm btn-primary">
      {% trans %}Copy template{% endtrans %}
    </a>
  {% endif %}
</div>

{% snippet "resources/basic_info", resource=template %}

{% set can_update = has_permission(current_user, "update", "template", template.id) %}

<hr>
<p>
  <strong>{% trans %}Template data{% endtrans %}</strong>
</p>
<div class="card bg-light">
  <div class="card-body">
    {% if template.type == "record" %}

      <div class="row">
        {% for key, value in sorted(template.data.items()) %}
          {% if key != "extras" %}
            <div class="col-lg-2 mb-2">
              <strong>{{ key | capitalize }}</strong>
            </div>
            <div class="col-lg-10 mb-2">
              {% if not value %}
                -
              {% elif key == "description" %}
                <markdown-preview input="{{ template.data['description'] }}"></markdown-preview>
              {% elif key == "tags" %}
                {% for tag in sorted(template.data["tags"]) %}
                  <span class="badge badge-light border border-muted font-weight-normal">{{ tag }}</span>
                {% endfor %}
              {% else %}
                {{ value }}
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}

        {% if not template.data.get("extras") %}
          <div class="col-lg-2 mb-2">
            <strong>{% trans %}Extras{% endtrans %}</strong>
          </div>
          <div class="col-lg-10 mb-2">-</div>
        {% endif %}
      </div>

      {% if template.data.get("extras") %}
        <strong>{% trans %}Extras{% endtrans %}</strong>
        <extras-viewer {% if can_update %}
                       edit-endpoint="{{ url_for('templates.edit_template', id=template.id) }}"
                       {% endif %}
                       :extras="{{ template.data.extras | escaped_json }}"
                       :show-validation="true">
        </extras-viewer>
      {% endif %}

    {% elif template.type == "extras" %}

      {% if template.data %}
        <extras-viewer {% if can_update %}
                       edit-endpoint="{{ url_for('templates.edit_template', id=template.id) }}"
                       {% endif %}
                       :extras="{{ template.data | escaped_json }}"
                       :show-validation="true">
          <strong>{% trans %}Extras{% endtrans %}</strong>
        </extras-viewer>
      {% else %}
        <em class="text-muted">{% trans %}No extra metadata.{% endtrans %}</em>
      {% endif %}

    {% endif %}
  </div>
</div>
