{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "base.html" %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            {% snippet "nav_item", url=url_for("accounts.login"), body='<i class="fas fa-chevron-left"></i>' %}
            {% snippet "nav_item", url=url_for("accounts.request_password_reset"), body=_("Password reset request") %}
          </ul>
        </div>
        <div class="card-body">
          <p>
            {% trans %}Please enter your username below.{% endtrans %}
            {% trans trimmed %}
              Instructions on how to reset your password will be sent to the email associated with this username.
            {% endtrans %}
          </p>
          <hr>
          <submission-form>
            {{ render_csrf() }}

            <text-field :field="{{ json_field(form.username) }}"></text-field>
            <submit-field :field="{{ json_field(form.submit) }}"></submit-field>
          </submission-form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
