{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "records/manage_record_base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "breadcrumb", url=url_for("records.manage_links", id=record.id), title=title %}
{% endblock %}

{% block content %}
  <div class="card">
    {% include "records/snippets/manage_record_menu.html" %}

    <nav-tabs :tabs="['records', 'collections']">
      <template #records-head>
        {% trans %}Records{% endtrans %}
      </template>
      <template #records-body>
        {% include "records/snippets/link_records.html" %}
      </template>
      <template #collections-head>
        {% trans %}Collections{% endtrans %}
      </template>
      <template #collections-body>
        {% include "records/snippets/link_collections.html" %}
      </template>
    </nav-tabs>
  </div>
{% endblock %}

{% block scripts %}
  <script nonce="{{ csp_nonce() }}">
    new Vue({
      el: '#vm',
      methods: {
        removeRecordLink(recordLink) {
          if (!window.confirm(i18n.t('warning.removeIdentifier', {identifier: recordLink.name}))) {
            return;
          }

          this.$set(recordLink, 'disabled', true);

          axios.delete(recordLink._actions.remove_link)
            .then(() => {
              this.$refs.pagination.update();
              kadi.alert(i18n.t('success.removeRecordLink'), {type: 'success', scrollTo: false});
            })
            .catch((error) => {
              kadi.alert(i18n.t('error.removeRecordLink'), {xhr: error.request});
              recordLink.disabled = false;
            });
        },
      },
    });
  </script>
{% endblock %}
