{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "records/base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "breadcrumb", url=url_for("records.new_record"), title=title %}
{% endblock %}

{% block content %}
  <div class="card">
    <span class="card-header">
      {% if show_template_selection %}
        <div class="row d-flex align-items-center">
          <div class="col-sm-6 mb-2 mb-sm-0">{{ title }}</div>
          <div class="col-sm-6">
            <dynamic-selection placeholder="{% trans %}Select a record template{% endtrans %}"
                               endpoint="{{ url_for('api.select_templates', type='record') }}"
                               container-classes="select2-single-sm"
                               :reset-on-select="true"
                               @select="selectTemplate">
            </dynamic-selection>
          </div>
        </div>
      {% else %}
        {{ title }}
      {% endif %}

      {% if
          current_template
          and current_template.type == "record"
          and has_permission(current_user, "read", "template", current_template.id)
      %}
        <hr>
        <div class="row align-items-center">
          <div class="{% if current_template.description %}col-md-10{% else %}col-md-12{% endif %}">
            <strong>{% trans %}Current record template:{% endtrans %}</strong>
            <a href="{{ url_for('templates.view_template', id=current_template.id) }}">{{ current_template.title }}</a>
          </div>
          {% if current_template.description %}
            <div class="col-md-2 d-md-flex justify-content-end mt-2 mt-md-0">
              <collapse-item id="template-description"></collapse-item>
            </div>
          {% endif %}
        </div>
        {% if current_template.description %}
          <div id="template-description" class="collapse show mt-4">
            <markdown-preview input="{{ current_template.description }}"></markdown-preview>
          </div>
        {% endif %}
      {% endif %}
    </span>
    <div class="card-body">
      <submission-form action="?redirect={{ redirect }}">
        {{ render_csrf() }}

        <h5 class="font-weight-bold">{% trans %}Metadata{% endtrans %}</h5>
        <hr class="mt-0">

        {% include "records/snippets/base_record_form.html" %}

        <h5 class="font-weight-bold">{% trans %}Additional settings{% endtrans %}</h5>
        <hr class="mt-0">
        <dynamic-select-field endpoint="{{ url_for('api.select_collections') }}"
                              placeholder="{% trans %}Search for collections{% endtrans %}"
                              :field="{{ json_field(form.linked_collections) }}"
                              :request-params="{action: 'link'}"
                              :multiple="true">
        </dynamic-select-field>
        <dynamic-select-field endpoint="{{ url_for('api.select_records') }}"
                              placeholder="{% trans %}Search for records{% endtrans %}"
                              :field="{{ json_field(form.copy_permission) }}">
        </dynamic-select-field>
        <submit-field :field="{{ json_field(form.submit) }}"></submit-field>
      </submission-form>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script nonce="{{ csp_nonce() }}">
    new Vue({
      el: '#vm',
      data: {
        title: '',
        titleField: kadi.js_resources.title_field,
      },
      methods: {
        selectTemplate(template) {
          const url = kadi.utils.setSearchParam('template', template.id);
          window.location.href = url;
        },
      },
      mounted() {
        this.title = this.titleField.data;
      },
    });
  </script>
{% endblock %}
