{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "records/base.html" %}

{% block content %}
  <search-form class="mb-4" :extras-search="true" @search="search"></search-form>
  <div class="row">
    <div class="col-xl-4">
      {% if has_permission(current_user, "create", "record", None) %}
        <div class="mb-4">
          <a class="btn btn-primary btn-block mb-2" :href="newRecordEndpoint">
            <i class="fas fa-plus-square"></i> {% trans %}Create new record{% endtrans %}
          </a>
          <dynamic-selection placeholder="{% trans %}Select a record template{% endtrans %}"
                             endpoint="{{ url_for('api.select_templates', type='record') }}"
                             container-classes="select2-single-sm"
                             @select="selectTemplate"
                             @unselect="unselectTemplate">
          </dynamic-selection>
        </div>
      {% endif %}

      <search-per-page class="mb-4" @search="search"></search-per-page>
      <search-toggle class="mb-4"
                     label="{% trans %}Hide public records{% endtrans %}"
                     param="hide_public"
                     @search="search">
      </search-toggle>
      <search-filter class="mb-4"
                     param="collection"
                     endpoint="{{ url_for('api.select_collections') }}"
                     title="{% trans %}Filter by collection{% endtrans %}"
                     placeholder="{% trans %}Select collections{% endtrans %}"
                     :initial-values="kadi.js_resources.collections"
                     @search="search">
      </search-filter>
      <search-filter class="mb-4"
                     param="type"
                     endpoint="{{ url_for('api.select_record_types') }}"
                     title="{% trans %}Filter by type{% endtrans %}"
                     placeholder="{% trans %}Select types{% endtrans %}"
                     @search="search">
      </search-filter>
      <search-filter class="mb-4"
                     param="tag"
                     endpoint="{{ url_for('api.select_tags', type='record') }}"
                     title="{% trans %}Filter by tag{% endtrans %}"
                     placeholder="{% trans %}Select tags{% endtrans %}"
                     @search="search">
      </search-filter>
      <search-filter class="mb-4"
                     param="mimetype"
                     endpoint="{{ url_for('api.select_mimetypes') }}"
                     title="{% trans %}Filter by MIME type{% endtrans %}"
                     placeholder="{% trans %}Select MIME types{% endtrans %}"
                     @search="search">
      </search-filter>
      <div class="card mb-4">
        <div class="card-body text-muted">
          <i class="fas fa-question-circle"></i>
          {% trans trimmed %}
            Records are the basic components of Kadi4Mat, as they contain data and connect it with metadata.
          {% endtrans %}
          {% trans trimmed %}
            The data of a record can either consist of a single file or of multiple files (e.g. a series of multiple
            images) all sharing the same metadata.
          {% endtrans %}
        </div>
      </div>
    </div>
    <div class="col-xl-8">
      <resource-search endpoint="{{ url_for('api.get_records') }}" ref="search"></resource-search>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script nonce="{{ csp_nonce() }}">
    new Vue({
      el: '#vm',
      data: {
        newRecordEndpoint: kadi.js_resources.new_record_endpoint,
      },
      methods: {
        selectTemplate(template) {
          this.newRecordEndpoint = `${kadi.js_resources.new_record_endpoint}?template=${template.id}`;
        },
        unselectTemplate() {
          this.newRecordEndpoint = kadi.js_resources.new_record_endpoint;
        },
        search() {
          this.$refs.search.search();
        },
      },
    });
  </script>
{% endblock %}
