{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "records/manage_record_base.html" %}

{% block content %}
  <div class="card">
    {% include "records/snippets/manage_record_menu.html" %}

    <nav-tabs :tabs="['overview', 'files', 'links', 'permissions', 'revisions']" @change-tab="changeTab">
      <template #overview-head>
        <strong>{% trans %}Overview{% endtrans %}</strong>
      </template>
      <template #overview-body>
        {% include "records/snippets/view_overview.html" %}
      </template>
      <template #files-head>
        {% trans %}Files{% endtrans %}
      </template>
      <template #files-body>
        {% include "records/snippets/view_files.html" %}
      </template>
      <template #links-head>
        {% trans %}Links{% endtrans %}
      </template>
      <template #links-body>
        {% include "records/snippets/view_links.html" %}
      </template>
      <template #permissions-head>
        {% trans %}Permissions{% endtrans %}
      </template>
      <template #permissions-body>
        {% include "records/snippets/view_permissions.html" %}
      </template>
      <template #revisions-head>
        {% trans %}Revisions{% endtrans %}
      </template>
      <template #revisions-body>
        {% include "records/snippets/view_revisions.html" %}
      </template>
    </nav-tabs>
  </div>
{% endblock %}

{% block scripts %}
  {{ render_js("app/records/view_record.js")}}
{% endblock %}
