{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "base.html" %}

{% block breadcrumbs %}
  {% snippet "breadcrumb_home" %}
  {% snippet "breadcrumb", url=url_for("main.help"), title=_("Help") %}
{% endblock %}

{% block content %}
  <div class="card">
    <div class="row">
      <div class="d-none d-lg-block col-lg-4 col-xl-3">
        <nav id="help-navbar" class="navbar flex-column bg-light overflow-auto vh-75">
          <nav class="nav nav-pills flex-column">
            <a class="nav-link my-1" href="#login">
              <strong>Logging in</strong>
            </a>
            <a class="nav-link my-1" href="#navigation">
              <strong>Navigation</strong>
            </a>
            <a class="nav-link my-1" href="#records">
              <strong>Records</strong>
            </a>
            <nav class="nav nav-pills flex-column">
              <a class="nav-link ml-3 my-1" href="#new-record">Creating a new record</a>
              <a class="nav-link ml-3 my-1" href="#search-record">Searching existing records</a>
              <a class="nav-link ml-3 my-1" href="#manage-record">Managing existing records</a>
            </nav>
            <a class="nav-link my-1" href="#collections">
              <strong>Collections</strong>
            </a>
            <nav class="nav nav-pills flex-column">
              <a class="nav-link ml-3 my-1" href="#new-collection">Creating a new collection</a>
              <a class="nav-link ml-3 my-1" href="#manage-collection">Managing existing collections</a>
            </nav>
            <a class="nav-link my-1" href="#groups">
              <strong>Groups</strong>
            </a>
            <nav class="nav nav-pills flex-column">
              <a class="nav-link ml-3 my-1" href="#new-group">Creating a new group</a>
              <a class="nav-link ml-3 my-1" href="#manage-group">Managing existing groups</a>
            </nav>
            <a class="nav-link my-1" href="#templates">
              <strong>Templates</strong>
            </a>
            <nav class="nav nav-pills flex-column">
              <a class="nav-link ml-3 my-1" href="#new-template">Creating a new template</a>
              <a class="nav-link ml-3 my-1" href="#manage-template">Managing existing templates</a>
            </nav>
            <a class="nav-link my-1" href="#users">
              <strong>Users</strong>
            </a>
            <a class="nav-link my-1" href="#settings">
              <strong>Settings</strong>
            </a>
          </nav>
        </nav>
      </div>
      <div class="col-12 col-lg-8 col-xl-9">
        <div class="overflow-auto vh-75" data-spy="scroll" data-target="#help-navbar" data-offset="20">
          <div class="mx-3 mt-3 ml-lg-0">
            {% include "main/snippets/help/login.html" %}
            <hr>
            {% include "main/snippets/help/navigation.html" %}
            <hr>
            {% include "main/snippets/help/records.html" %}
            <hr>
            {% include "main/snippets/help/collections.html" %}
            <hr>
            {% include "main/snippets/help/groups.html" %}
            <hr>
            {% include "main/snippets/help/templates.html" %}
            <hr>
            {% include "main/snippets/help/users.html" %}
            <hr>
            {% include "main/snippets/help/settings.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
