{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "collections/manage_collection_base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "breadcrumb", url=url_for("collections.manage_links", id=collection.id), title=title %}
{% endblock %}

{% block content %}
  <div class="card">
    {% include "collections/snippets/manage_collection_menu.html" %}

    <div class="card-body">
      <submission-form>
        {{ render_csrf() }}

        <dynamic-select-field endpoint="{{ url_for('api.select_records') }}"
                              placeholder="{% trans %}Search for records{% endtrans %}"
                              :field="{{ json_field(form.records) }}"
                              :request-params="{action: 'link'}"
                              :multiple="true">
        </dynamic-select-field>
        <submit-field :field="{{ json_field(form.submit) }}"></submit-field>
      </submission-form>
      <hr>
      <resource-links-editor title="{% trans %}Linked records{% endtrans %}"
                             placeholder="{% trans %}No records.{% endtrans %}"
                             endpoint="{{ url_for('api.get_collection_records', id=collection.id, action='link') }}">
      </resource-links-editor>
    </div>
  </div>
{% endblock %}
