{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% include "records/snippets/manage_record_menu.html" %}

<div class="card-header">
  <ul class="nav nav-pills card-header-pills">
    {% snippet "nav_item",
               url=url_for("records.view_record", id=record.id, tab="files"),
               body='<i class="fas fa-chevron-left"></i>' %}

    {% snippet "nav_item",
               url=url_for("records.view_file", record_id=record.id, file_id=file.id),
               body="<strong>{}</strong>".format(_("File")) %}

    {% if has_permission(current_user, "update", "record", record.id) %}
      {% snippet "nav_item",
                 url=url_for("records.edit_file", record_id=record.id, file_id=file.id),
                 body='<i class="fas fa-pencil-alt"></i> {}'.format(_("Edit file")) %}
    {% endif %}
  </ul>
</div>
