{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<div v-show="visualizeLinks">
  <div class="row mb-3">
    <div class="col-md-8 mb-2 mb-md-0">
      <button class="btn btn-sm btn-light" @click="visualizeLinks = false">
        <i class="fas fa-chevron-left"></i> {% trans %}View all links{% endtrans %}
      </button>
    </div>
    <div class="col-md-4">
      <div class="input-group input-group-sm">
        <input id="link-filter"
               class="form-control"
               placeholder="{% trans %}Filter by identifier{% endtrans %}"
               v-model="linkFilter">
        <clear-button input-id="link-filter" :input="linkFilter" :small="true" @clear-input="linkFilter = ''">
        </clear-button>
      </div>
    </div>
  </div>
  <record-links-graph endpoint="{{ url_for('api.get_record_links_graph', id=record.id) }}"
                      :start-record="{{ record.id }}"
                      :filter="linkFilter"
                      :is-rendered="currentTab === 'links' && visualizeLinks"
                      v-if="renderLinksGraph">
  </record-links-graph>
</div>
<div v-show="!visualizeLinks">
  <record-links-view endpoint="{{ url_for('api.get_record_links', id=record.id, direction='to') }}"
                     title="{% trans %}Outgoing record links{% endtrans %}"
                     direction="to">
    <template>
      <div class="d-md-flex justify-content-end mb-3">
        <button class="btn btn-sm btn-light" @click="visualizeLinks = true">
          <i class="fas fa-eye"></i> {% trans %}Visualize record links{% endtrans %}
        </button>
      </div>
    </template>
  </record-links-view>
  <hr>
  <record-links-view endpoint="{{ url_for('api.get_record_links', id=record.id, direction='from') }}"
                     title="{% trans %}Incoming record links{% endtrans %}"
                     direction="from">
  </record-links-view>
  <hr>
  <resource-view endpoint="{{ url_for('api.get_record_collections', id=record.id) }}"
                 title="{% trans %}Collections{% endtrans %}"
                 placeholder="{% trans %}No collections.{% endtrans %}">
  </resource-view>
</div>
